@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$dm_serif_display: "DM Serif Display", serif;
$public_sans: "Public Sans", sans-serif;

body {
    font-family: $public_sans;
    font-size: 15px;
    line-height: 28px;
}

// HEADINGS 

h1 {
    font-size: 32px;
    font-family: $dm_serif_display;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.25px;
    overflow: hidden;
}

h2 {
    font-family: $dm_serif_display;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.25px;
    overflow: hidden;
}

p {
    font-size: 15px;
    line-height: 28px;
    
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.37px;
    }

    h2 {
        font-family: $dm_serif_display;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.37px;
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 72px;
        line-height: 76px;
        letter-spacing: -0.55px;
        font-weight: 400;
    }
}



.h3_big {
    font-family: $dm_serif_display;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}

.h3_small {
    font-family: $public_sans;
    font-size: 18px;
    line-height: 25px;
}

h4 {
    font-family: $dm_serif_display;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}