@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 28px;
}

h1 {
  font-size: 32px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.25px;
  overflow: hidden;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.25px;
  overflow: hidden;
}

p {
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.37px;
  }
  h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.37px;
  }
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 72px;
    line-height: 76px;
    letter-spacing: -0.55px;
    font-weight: 400;
  }
}
h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.18px;
}

@media screen and (min-width: 768px) {
  h3 {
    line-height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  h3 {
    font-size: 32px;
    letter-spacing: -0.25px;
  }
}
.bg_pattern img {
  display: flex;
  position: absolute;
  left: 50%;
  top: -50%;
  z-index: -1;
  transform: translate(-50%, 0%);
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_bar {
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1b262f;
  width: 0;
  height: 100%;
  padding: 45px 15px;
  gap: 25px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.nav_bar .btn_close {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav_bar .btn_close .hamburguer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 4px;
  width: 100%;
  height: 100%;
}
.nav_bar .btn_close .hamburguer .bar {
  background-color: #fbfcfe;
  width: 30px;
  height: 4px;
}
.nav_bar .btn_close .hamburguer #bar_1 {
  transform: rotate(45deg) translate(-5px, 8px);
}
.nav_bar .btn_close .hamburguer #bar_2 {
  background-color: transparent;
}
.nav_bar .btn_close .hamburguer #bar_3 {
  transform: rotate(-45deg) translate(3px, -16px);
}
.nav_bar .line {
  width: 100%;
  height: 1px;
  background-color: #fbfcfe;
}
.nav_bar .nav_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}
.nav_bar .nav_list .nav_item a {
  color: #fbfcfe;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
}
.nav_bar .nav_list .btn-menu {
  width: 100%;
}

.nav_bar_tablet {
  display: none;
}

.burger {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.burger .hamburguer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.burger .hamburguer .bar {
  background: #36536b;
  width: 100%;
  height: 3px;
  border-radius: 5px;
}

.active {
  display: flex;
  width: 77%;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .bg_pattern img {
    top: -45%;
  }
  .header_content .nav_bar_tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
  }
  .header_content .nav_bar_tablet .nav_list {
    display: flex;
    gap: 25px;
  }
  .header_content .nav_bar_tablet .nav_list .nav_link {
    color: #6c8294;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  .header_content .nav_bar_tablet .nav_list .nav_link:hover {
    color: #36536b;
  }
  .header_content .burger {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .bg_pattern img {
    display: flex;
    position: absolute;
    left: 50%;
    top: -30%;
    z-index: -1;
    transform: translate(20%, 0%);
  }
  .header_content .nav_bar_tablet .nav_list {
    gap: 65px;
  }
}
.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 326px;
  margin: auto;
}
.start img {
  width: 320px;
  position: relative;
  left: 5%;
}
.start .text_start {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.start .text_start h1 {
  color: #36536b;
}
.start .text_start p {
  color: #6c8294;
}
.start .text_start p a {
  color: #36536b;
  font-weight: bold;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form .email {
  padding: 15px 30px;
  border-radius: 24px;
  border: none;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2196078431);
  outline: none;
  color: #36536b;
  font-weight: bold;
}
.form .email::-moz-placeholder {
  font-weight: bold;
  color: #36536b;
  font-family: "Public Sans", sans-serif;
}
.form .email::placeholder {
  font-weight: bold;
  color: #36536b;
  font-family: "Public Sans", sans-serif;
}
.form .btn {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .start {
    width: 500px;
  }
  .form {
    position: relative;
    flex-direction: row;
    width: 470px;
  }
  .form .email {
    width: 100%;
  }
  .form .btn {
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .start {
    flex-direction: row;
    width: 100%;
    padding: 0 40px;
  }
  .start img {
    width: 40%;
    order: 1;
  }
  .start .text_start {
    width: 65%;
    align-items: start;
    text-align: left;
  }
}
.bg_work {
  background-color: #1b262f;
  margin: 50px auto;
}

.work {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.work .companies_work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 25px;
}
.work .txt_work {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: auto;
}
.work .txt_work h2, .work .txt_work p {
  color: #fbfcfe;
}
.work .txt_work .btn_ligth {
  margin: auto;
}

@media screen and (min-width: 780px) {
  .work .companies_work {
    grid-template-columns: repeat(3, 1fr);
  }
  .work .txt_work {
    width: 437px;
  }
}
@media screen and (min-width: 1280px) {
  .work {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .work .companies_work {
    order: 1;
  }
  .work .txt_work {
    text-align: left;
    justify-content: start;
    align-items: start;
    margin: 0;
  }
  .work .txt_work .btn_ligth {
    margin: 0;
  }
}
.content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content .img_code img, .content .img_user img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  left: 5%;
}
.content .text_implement, .content .text_user {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.content .text_implement h2, .content .text_user h2 {
  color: #36536b;
}
.content .text_implement p, .content .text_user p {
  color: #6c8294;
  max-width: 580px;
  margin: auto;
}

.circle_bg img {
  display: none;
}

@media screen and (min-width: 1280px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
  }
  .content .text_implement, .content .text_user {
    text-align: left;
  }
  .content .text_implement p, .content .text_user p {
    width: 424px;
    margin: 0;
  }
  .content .text_user {
    order: -1;
  }
  .circle_bg img {
    display: block;
    position: absolute;
    top: 1700px;
    right: -10%;
    z-index: -1;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding: 40px;
}
.about .about_content {
  text-align: center;
}
.about .about_content .about_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  width: 100%;
  max-width: 350px;
}
.about .about_content .about_text h3 {
  color: #36536b;
}
.about .about_content .about_text p {
  color: #6c8294;
}

@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
  }
}
.ready {
  width: 326px;
  padding: 40px 0;
}
.ready h2 {
  color: #36536b;
  text-align: center;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .ready {
    width: 500px;
  }
}
@media screen and (min-width: 1280px) {
  .ready {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
  }
  .ready .form {
    height: 45px;
  }
}
#footer {
  background-color: #1b262f;
  margin-top: 40px;
}
#footer .footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 25px;
}
#footer .footer_content .left_content .nav_list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  text-align: center;
  margin: 25px 0;
}
#footer .footer_content .left_content .nav_list .nav_link a {
  color: hsla(220, 60%, 99%, 0.753);
  transition: color 0.3s ease-in-out;
}
#footer .footer_content .social_media {
  display: flex;
  gap: 25px;
}
#footer .footer_content .social_media a i {
  color: #fbfcfe;
  font-size: 1.5em;
  transition: color 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  #footer .footer_content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
  }
  #footer .footer_content .left_content {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #footer .footer_content .left_content .nav_list {
    flex-direction: row;
    justify-content: end;
  }
  #footer .footer_content .social_media {
    width: 25%;
    justify-content: end;
    align-items: center;
  }
  #footer .footer_content .social_media a i:hover {
    color: #da6d97;
  }
}
@media screen and (min-width: 1280px) {
  #footer .footer_content .left_content {
    width: 50%;
  }
  #footer .footer_content .left_content .nav_list .nav_link a:hover {
    color: #fbfcfe;
  }
  #footer .footer_content .social_media {
    width: 50%;
    justify-content: end;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: #edf3f8;
  margin: auto;
}

.container {
  max-width: 1280px;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #ba4270;
  color: #fbfcfe;
  width: 173px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #da6d97;
}

.btn_ligth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 48px;
  border: 1px solid #fbfcfe;
  border-radius: 24px;
  color: #fbfcfe;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn_ligth:hover {
  background: #fbfcfe;
  color: #1b262f;
}/*# sourceMappingURL=default.css.map */