@import 'parts/color';
@import 'parts/typography';
@import 'pages/pricing';
@import 'pages/about';



.title {
    padding: 40px;
    text-align: center;
    color: $san_juan_blue;
}

@media screen and (min-width: 1280px) {
    .title {
        text-align: left;
    }
}

